  <div class="clearfix">
    <form ng-submit="post()" ng-show='authenticated'>
      <input required type="text" class="form-control" placeholder="Product Name" ng-model="newProduct.name"/>
      <input required type="number" class="form-control" placeholder="Product Quantity" ng-model="newProduct.quantity"/>
      <input type="checkbox" checked class="form-control" placeholder="Is raw material" ng-model="newProduct.raw_material"></input>
      <textarea class="form-control" maxlength="200" rows="3" placeholder="Product Info" ng-model="newProduct.details"></textarea>
      <input class="button" class="btn submit-btn pull-right" type="submit" value="New Product!"/>
    </form>

    <div id="post-stream">
      <h4>Products List</h4>
        <div>
          <!-- <p> {{post.created_by}} says {{post.text}} at {{post.created_at}} </p> -->
          <table class="products-table">
            <thead>
              <tr>
                <th colspan="5" class="products-table-title">Products List</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Detail</th>
                <th>Raw Material</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products | orderBy: 'lastUpdated'" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="showAction(product);">
                <td class="product-name">{{product.name}}</td>
                <td class="product-quantity">{{product.quantity}}</td>
                <td>{{product.details}}</td>
                <td>{{product.raw_material| true_false}}</td>
                <td>{{product.last_updated| date:"MMM d, y"}}</td>
                <!--<td>{{product.lastUpdated | date:"h:mma 'on' MMM d, y"}}</td>-->
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>